body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    font-family: 'Courier New', Courier, monospace;
    color: #00ffcc;
    overflow-y: auto; /* Permite bajar para ver el footer */
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ffcc;
    letter-spacing: 2px;
    font-size: 1.5rem;
}


.video-container {
    position: relative;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc44;
    border-radius: 20px; /* Bordes redondeados modernos */
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    /* TRUCO VERTICAL */
    width: 100%;
    max-width: 400px; /* Ancho máximo de un celular */
    aspect-ratio: 9/16; /* Proporción vertical exacta */
    background-color: #000;
}

#video {
    width: 100%;
    height: 100%;
    /* COVER: Hace zoom al centro para llenar el vertical sin estirarse */
    object-fit: cover; 
    transform: scaleX(-1); /* Espejo */
    
    
    filter: brightness(1.2) saturate(1.3) contrast(1.1);
}

/* El lienzo se adapta al video */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transform: scaleX(1) !important;
}

#status {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.footer-info {
    margin-top: 30px;
    border-top: 1px solid #00ffcc;
    padding-top: 15px;
    padding-bottom: 50px;
}

.footer-info h2 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.footer-info p {
    font-size: 13px;
    color: #00ffcc;
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: #ff0055;
}

@keyframes blinker {
    50% { opacity: 0; }
}