body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    font-family: 'Courier New', Courier, monospace;
    color: #00ffcc;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ffcc;
    letter-spacing: 2px;
}

/* El contenedor NO debe tener transform */
.video-container {
    position: relative;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc44;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


#video {
    transform: scaleX(-1);
}

/* REGLA DE SEGURIDAD: */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(1) !important; /* 
}

#status {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: #ff0055;
}

@keyframes blinker {
    50% { opacity: 0; }
}


.footer-info {
    margin-top: 30px;
    border-top: 1px solid #00ffcc;
    padding-top: 15px;
}

.footer-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff; /* Blanco para destacar */
}

.footer-info p {
    font-size: 14px;
    color: #00ffcc; /* Verde neon */
}